<div class="head-menu" role="navigation">
    
    <% if (container) {%>
        <div class="container">
    <% } %>
    
        <div class="head-menu__header head-menu__left">
            <a href="/" class="brand">JANA</a>
        </div>
        
        <button class="collapse-button collapsing" data-toggle="#head-menu__items">
            <div class="button-bar"></div>
            <div class="button-bar"></div>                
            <div class="button-bar"></div>
        </button>

        <!--<div class="clearfix"></div>-->

        <div class="collapsable" id="head-menu__items">
            <ul class="head-menu__left head-menu__panel">
                <% for (var menuTitle in headMenuLeft) {%>
                    <li>
                        <a id=<%= headMenuLeft[menuTitle].split("/")[1] %> role="presentation" href=<%= headMenuLeft[menuTitle] %>><%= menuTitle %></a>
                    </li>
                <% } %>
            </ul>

            <% if (headMenuRight) { %>
                <ul class="head-menu__right head-menu__panel">
                    <% for (var menuTitle in headMenuRight) {%>
                        <li>
                            <a id=<%= headMenuRight[menuTitle].split("/")[1] %> role="presentation" href=<%= headMenuRight[menuTitle] %>><%= menuTitle %></a>
                        </li>
                    <% }; %>
                </ul>
            <% } %>

            <% if (user) {%>
                <ul class="head-menu__right head-menu__panel" id="users-area">
                    <li>
                        <a role="presentation" href="/usersarea">Добро пожаловать, <%= (user.admin ? "хозяйка" : user.username)%> </a>
                    </li>
                </ul>
            <% } %>

            <div class="clearfix"></div>
        </div>
    
    <% if (container) {%>
        </div>
    <% } %>

</div>
