<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href="<%=paths.common.css%>"/>

    <!--Picturefill-->
    <!--<script>
      document.createElement( "showCase" );
    </script>
    <script src="/vendor/bower_components/picturefill/dist/picturefill.js" async></script>-->
  </head>

  <body>

    <div class="header">
        <%- partial("../public/components/headMenu/headMenu.ejs")%>
    </div>

    <div class="jumbotron showcase">
      <div class="showcase__image">

      </div>
    </div>

    <script src="<%=paths.common.js%>"></script>
    <script src="<%=paths.index.js%>"></script>

  </body>
</html>
