
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel='stylesheet' href="/stylesheets/style.css" />
        <link rel='stylesheet' href="/stylesheets/headMenuStyle.css" />
        <link rel='stylesheet' href="/stylesheets/sideMenuStyle.css" />
        <link rel='stylesheet' href="/stylesheets/shopPageStyle.css" />
        <link rel='stylesheet' href="/stylesheets/modals.css"/>
        <link rel='stylesheet' href="/stylesheets/searchPanel.css"/>
    </head>

    <body>

        <div class="header">
            
            <div class="container">
                <%- partial("./partials/headMenu.ejs")%>
            </div>
            
        </div>

        <%- partial("./partials/searchPanel.ejs")%>

        <div class="container main-content" admin-mode="<%= user ? user.admin : false %>">
            <div class="row">
                <%- partial("./partials/sideMenu.ejs")%>
                <div class="col-sm-10">
                    <div id="commodity-list" class="thumbnails">

                    </div>
                </div>
            </div>
            <div class="edit-panel" hidden="true">
                <button type='button' class='btn btn-default edit-button' id="add-commodity">Добавить товар</button>
                <button type='button' class='btn btn-default edit-button' id="add-category">Добавить категрию</button>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>

        <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
        <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/vendor/bower_components/async/dist/async.js"></script>

        <script src="/javascripts/establishWebSocket.js"></script>
        <script src="/javascripts/modals.js"></script>
        <script src="/javascripts/axillaries.js"></script>
        <script src="/javascripts/ajaxClient.js"></script>
        <script src="/javascripts/headMenu.js"></script>
        <script src="/javascripts/sideMenu.js"></script>
        <script src="/javascripts/shopClient.js"></script>
        <script src="/javascripts/searchPanel.js"></script>

    </body>
</html>
