<nav class="navbar navbar-inverse head-menu" role="navigation">

    <% if (container) {%>
        <div class="container">
    <% } %>

        <% if (searchButton) {%>
            <button class="navbar-btn search-button" aria-label="Search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        <% } %>
    
        <div class="navbar-header">
            <a href="/" class="navbar-brand">JANA</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#panel">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    
        <div class="collapse navbar-collapse" id="panel">
            <ul class="nav navbar-nav navbar-left head-menu__panel">
                <% for (var menuTitle in headMenuLeft) {%>
                    <li>
                        <a id=<%= headMenuLeft[menuTitle].split("/")[1] %> role="presentation" href=<%= headMenuLeft[menuTitle] %>><%= menuTitle %></a>
                    </li>
                <% } %>
            </ul>

            <% if (headMenuRight) { %>
                <ul class="nav navbar-nav navbar-right head-menu__panel">
                    <% for (var menuTitle in headMenuRight) {%>
                        <li>
                            <a id=<%= headMenuRight[menuTitle].split("/")[1] %> role="presentation" href=<%= headMenuRight[menuTitle] %>><%= menuTitle %></a>
                        </li>
                    <% }; %>
                </ul>
            <% } %>

            <% if (user) {%>
                <ul class="nav navbar-nav navbar-right head-menu__panel" id="users-area">
                    <li>
                        <a role="presentation" href="/usersarea">Добро пожаловать, <%= (user.admin ? "хозяйка" : user.username)%> </a>
                    </li>
                </ul>
            <% } %>
        </div>
        
    <% if (container) {%>
        </div>
    <% } %>

</nav>
